@import "tailwindcss";

:root {
  --background: #f9fafb;

  --font-color-primary: #111827;
  --font-color-secondary: #4b5563;
  --font-color-menu-secondary: #3b82f6;

  --background-navbar-rgb: #f3f4f6;
  --background-navbar-hover-rgb: #4b5563;

  --dropdown-menu-border: rgb(20, 20, 20);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;

    --font-color-primary: #f8fafc;
    --font-color-secondary: #94a3b8;

    --background-navbar-rgb: #1e293b;
    --background-navbar-hover-rgb: #073e62;

    --background-footer-rgb: #1e293b;

    --background-card: #1e293b;
    --border-card: #334155;
    --background-card-secondary: #334155;

    --navbar-min-height: 45px;

    --dropdown-menu-border: #475569;
  }
}

body {
  background: var(--background);
  color: var(--font-color-primary);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
